<div id="form" class="form center">
  <%= form_for @path do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: "form-control", placeholder: "Path Name" %>
    </div>

    <div class="field">
      <%= f.label :header_image %><br />
      <%= f.text_field :header_image, class: "form-control", placeholder: "Image link" %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Path description" %>
    </div>

    <div class="actions">
      <%= f.submit "Launch!", class: "btn" %>
    </div>

  <% end %>
</div>
