<div class="grid">
  <div class="my-3"></div>
  <div class="grid col-2 col-sm-1">

    <figure>
      <%= image_tag("#{@path.header_image}") %>
    </figure>
    <h1 class="center-xy"><%= @path.title %></h1>
  </div>

  <div class="content-wrapper my-1">
    <p class='lead'><%= @path.description %></p>
  </div>

  <div class="content-wrapper center" >
  <%= link_to "Edit", edit_path_path(@path) %> &nbsp | &nbsp
  <%= link_to "Delete", @path, method: :delete, class: "btn btn-danger btn-small" %>
  </div>
</div>
